td{
    
    vertical-align: top;
}
*{
    font-family: 'Roboto', sans-serif;
}
tr{background-color: #f2f2f2;}

table{
    margin: 0 auto;
    width: 80%;
}
th{
    padding: 10px;
    font-size: 19px;
}
td{
    padding: 5px 10px;
}
h1{
    text-align: center;
}
li{
    
    max-width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.form-style{
    
    width: 600px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 60px 179px rgba(0, 0, 0, 0.07), 0px 27.7398px 82.7571px rgba(0, 0, 0, 0.0583238), 0px 15.8721px 47.3517px rgba(0, 0, 0, 0.0527094), 0px 9.63424px 28.7422px rgba(0, 0, 0, 0.0479414), 0px 5.80506px 17.3184px rgba(0, 0, 0, 0.042728), 0px 3.23263px 9.64402px rgba(0, 0, 0, 0.03594), 0px 1.39033px 4.14782px rgba(0, 0, 0, 0.0254717);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 150px;
}
.input-style{
    
padding: 15px 10px;
outline: none;
border: none;
width: 33.333%;
background-color: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-style span{
    display: block;
    width: 1px;
    z-index: 999;
    height: 21px;
    align-self: center;
    background-color: grey;
}
.form-style input:nth-child(1){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
button[type="submit"] {
    display: none;
    
}
.results{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background: #F8F8F8;
    border-radius: 5px;
}

.results-block{
    padding-top: 20px;
    padding-left: 20px;
}
.results-item{
    position: relative;
    border-left: 2px solid gray;
    padding: 0px 20px 30px 20px;
}
.results-item .circle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #AAAAAA;
   
    left: -11px;
    border-radius: 50%;
}
.results-item:first-child{
    margin-top: 0px;
}