.wrapper {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.09));
    background-color: #F8F8F8;
}

.header {
    height: 48px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #EFEFEF;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.09));
    display: flex;
    align-items: center;
}

.header > *:first-child {
    padding-left: 24px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
}

.header > span {
    padding: 0 24px;
    white-space: nowrap;
}

.status {
    background-color: #FFCF55;
    padding: 8px 16px;
    border-radius: 50px;
}

.dossierTimelineItem {
    position: relative;
    border-left: 2px solid #C4C4C4;
    padding: 0 0 24px 19px;
}

.dossierTimelineItem:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    border-radius: 50%;
    left: -9px;
    width: 16px;
    height: 16px;
    background-color: #AAAAAA;
}

.dossierTimelineItemInfo {
    margin-top: 4px;
    color: #525252;
}

.btnCollapse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 16px 0 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease-out;
    transform: rotate(0deg);
}

.btnCollapse:hover {
    background-color: #dfdfdf;
}

.active {
    transform: rotate(-180deg);
}

.body {
    padding: 0 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: max-height .2s ease-out;
    overflow: hidden;
    outline: none;
}

.body > *:first-child {
    margin-top: 24px;
}

.collapsed {
    max-height: none;
}