html, head, body {
    margin: 0;
    padding: 0;
}

* {
    /* background-color: transparent; */
    /* box-sizing: border-box; */
    /* font-size: 14px; */
    /* color: #424242; */
    /* color: #2b2b2b; */
}