.wrapper {
    box-sizing: border-box;
    padding: 48px 24px;
    min-height: 100vh;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.justifiedCenter {
    display: flex;
    justify-content: center;
}

.flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitle {
    font-size: 48px;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.subTitle {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.searchHint {
    margin: 6rem 0;
    text-align: center;
    color: #707070;
}