.search {
    display: flex;
    flex-direction: row;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 60px 179px rgba(0, 0, 0, 0.07), 0px 27.7398px 82.7571px rgba(0, 0, 0, 0.0583238), 0px 15.8721px 47.3517px rgba(0, 0, 0, 0.0527094), 0px 9.63424px 28.7422px rgba(0, 0, 0, 0.0479414), 0px 5.80506px 17.3184px rgba(0, 0, 0, 0.042728), 0px 3.23263px 9.64402px rgba(0, 0, 0, 0.03594), 0px 1.39033px 4.14782px rgba(0, 0, 0, 0.0254717);
    border-radius: 5px;
}

.input {
    border: none;
    background-color: transparent;
    padding: 0 24px;
    width: 230px;
}

.input:focus {
    outline: none;
}

.inputSeparator {
    width: 1px;
    height: 24px;
    background-color: #CDCDCD;
    margin: 12px 0;
}

.searchIconWrapper {
    display: flex!important;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: #707070;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchIconWrapper:hover {
    background-color: #f8f8f8;
}